:root {
    // --color-primary: #263238;
    --color-primary: #ededed;
    // --color-primary-foreground: #90a4ae;
    --color-primary-foreground: #36454f;

    // --color-secondary-dark: #37474f;
    --color-secondary-dark: #ccc;
    // --color-secondary: #607d8b;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 1rem = 10px; 10/16 = 62.5% */
    font-size: 90%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary);
}